<div id="devise-enter" class="container-fluid">
  <div class="row">
    <section id="signup" class="col-sm-6">
      <%= render 'devise/registrations/new_form' %>
    </section>
    <section id="login" class="col-sm-6">
      <%= render 'devise/sessions/new_form' %>
    </section>
  </div>
</div>