<section id="land" class="slide">
  <div class="vcenter">
    <h1>Your Government</h1>
    <h2>Building Smart Cities through <span id="usp" data-typer-targets="Transparency.,Openness.,"></span></h2>
  </div>
</section>