#appeals {
  .no-results {
    padding: 25px 20px 45px;
    margin-top: 2em;

    p {
      font-size: 1.5em;
      font-weight: 300;
      margin-bottom: 1em;
    }
  }

  .appeal {
    a.details {
      float: right;
      margin-top: 1em;
      background-color: $primary-color;
      color: $light-font-color;
      display: inline-block;
      text-decoration: none;
      padding: 0.5em 1em;
      font-weight: 300;
    }
  }
}

#new_appeal {
  p.intro {
    font-size: 1.1em;
    font-weight: 300;
    margin-bottom: 1em;
  }
}