body {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.slide {
  width: 100%;
  height: 100vh;
}

.vcenter {
  border: 1px solid transparent;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

form {
  label {
    font-weight: 400;
  }
}

#content_wrapper {
  position: relative;
  min-height: 100vh;

  &.guest_user {
    aside {
      display: none;
    }

    #main_content {
      padding: 0 15px;
    }
  }

  aside {
    color: $sidebar-color;
    height: 100vh;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: $sidebar-bg-color;

    a {
      &, &:hover, &:visited, &:active, &:link {
        color: $sidebar-color;
      }
    }

    header {
      text-align: center;
      padding: 15px 0;
      border-bottom: 1px solid $sidebar-badge-color;

      h1, p.tagline {
        font-weight: 300;
      }

      h1 {
        font-size: 2.5em;
        margin: 0 0;
      }

      p.tagline {
        font-size: 0.9em;
        margin: 4px 0 0;
      }
    }

    #links {
      border-bottom: 1px solid $sidebar-badge-color;

      .link {
        padding: 8px 15px;
        background-color: $sidebar-bg-color;
        transition: background-color 0.3s ease-in;

        &:hover {
          background-color: lighten($sidebar-bg-color, 5%);
        }

        span.fa {
          margin-right: 1em;
          color: lighten($sidebar-bg-color, 15%);
        }

        span.badge {
          float: right;
          background-color: $sidebar-badge-color;
          color: $sidebar-color;
          font-weight: bold;
          border-radius: 5px;
          padding: 5px;
          font-size: 0.8em;
          border: 1px solid lighten($sidebar-badge-color, 10%);
        }

        a {
          &, &:hover, &:visited, &:link, &:active {
            text-decoration: none;
          }
        }
      }
    }

    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 15px 0;

      a {
        font-weight: bold;

        &.logout {
          display: block;
          text-align: center;
          font-weight: normal;
          margin-bottom: 2em;
        }
      }
    }
  }

  #main_content {
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 0 15px 0 255px;

    a.page_action {
      display: inline-block;
      float: right;
      margin: 20px 3px 0 0;
      background-color: $primary-color;
      color: $light-font-color;
      font-weight: 300;
      padding: 0.5em 1em;
      text-decoration: none;
      transition: background-color 0.3s ease-in;

      &:hover {
        background-color: darken($primary-color, 5%);
      }
    }
  }
}

.action-links-boxes {
  .action-box {
    a {
      display: block;
      text-align: center;
      border-bottom: 12px solid transparent;
      color: $light-font-color;
      font-weight: 300;
      font-size: 1.3em;
      padding: 2em 0;
      text-decoration: none;
      position: relative;
      transition: background-color 0.3s ease-in;

      .number {
        font-size: 4em;
      }

      i.fa {
        position: absolute;
        bottom: 0.2em;
        right: 0.2em;
        font-size: 3em;
        transition: bottom 0.3s ease-in;
      }

      &:hover i.fa {
        bottom: 0.5em;
      }
    }

    &.action-box-1 {
      a{
        background-color: $special-color-1;
        border-color: $special-darker-color-1;

        i.fa {
          color: lighten($special-color-1, 20%);
        }

        &:hover {
          background-color: lighten($special-color-1, 10%);
        }
      }
    }

    &.action-box-2 {
      a{
        background-color: $special-color-2;
        border-color: $special-darker-color-2;

        i.fa {
          color: lighten($special-color-2, 20%);
        }

        &:hover {
          background-color: lighten($special-color-2, 10%);
        }
      }
    }

    &.action-box-3 {
      a {
        background-color: $special-color-3;
        border-color: $special-darker-color-3;

        i.fa {
          color: lighten($special-color-3, 20%);
        }

        &:hover {
          background-color: lighten($special-color-3, 10%);
        }
      }
    }
  }
}