#land {
  background-image: image-url('land-bg.jpg');
  background-size: cover;
  color: $light-font-color;

  .vcenter {
    h1, h2 {
      font-weight: 300;
    }

    h1 {
      margin: 0 0;
      font-size: 6vw;

      #usp {
        &, span {
          background-color: transparent !important;
        }
      }
    }

    h2 {
      margin: 0.3em 0 0 0;
      font-size: 3vw;
    }

    a#explore {
      &, &:hover, &:link, &:hover {
        background-color: $secondary-color;
        color: $light-font-color;
        font-size: 2.5vw;
        padding: 0.2em 1em;
        margin-top: 1em;
        display: inline-block;
        font-weight: 300;
        text-decoration: none;
        transition: background-color 0.3s ease-in;
      }

      &:hover {
        background-color: lighten($secondary-color, 5%);
      }
    }
  }
}