$primary-color: #31353f;
$secondary-color: #149c82;

$light-font-color: #FFFFFF;
$dark-font-color: #31353f;

$sidebar-bg-color: #31353f;
$sidebar-color: #b9bbc3;
$sidebar-separator-color: #343842;
$sidebar-badge-color: #25282f;