$primary-color: #31353f;
$secondary-color: #149c82;

$light-font-color: #FFFFFF;
$dark-font-color: #31353f;

$sidebar-bg-color: #31353f;
$sidebar-color: #b9bbc3;
$sidebar-separator-color: #343842;
$sidebar-badge-color: #25282f;

$special-color-1: #2ecc71;
$special-darker-color-1: #27ae60;
$special-color-2: #3498db;
$special-darker-color-2: #2980b9;
$special-color-3: #e67e22;
$special-darker-color-3: #d35400;
