<aside>
  <header>
    <h1>My Govt</h1>
    <p class="tagline">Governance. Unveiled.</p>
  </header>

  <section id="links">
    <%= sidebar_link("My Appeals", '#', 'user', 2) %>
    <%= sidebar_link("Public Appeals", '#', 'users', '200+') %>
    <%= sidebar_link("Statistics", '#', 'line-chart') %>
  </section>

  <footer>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "logout" %>
    Powered by <a href="http://www.codeastra.com/" target="_blank">Code Astra</a>
  </footer>
</aside>